.new-tweet form{
  width:90%;
  margin:auto;
}

.new-tweet textarea{
  border: none;
  overflow: auto;
  outline: none;
  background-color: inherit;
  box-shadow: none;
  border-bottom: 3px solid var(--primary-text-color);
  height:fit-content;
  resize: none; 
  padding:0;
  width:100%;
}

.new-tweet textarea::placeholder{
  color:var(--primary-text-color);
  font-size:2rem;
}
.new-tweet div{
  display:flex;
  justify-content:space-between;
  font-family: var(--theme-font);

}

.new-tweet button {
  color: #ffff;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding: 5px 10px;
}

